.message-list {
  border: 1px solid #000000;
  height: 200px;
  overflow-y: scroll;
  font-family: Courier New, monospace;
}

.message {
  margin-bottom: 10px;
}
.message:hover {
  background-color: #dddddd;
}

.author {
  font-weight: bold;
}

.send-btn {
  display: block;
}

.text-input {
  width: 100%;
}

.nickname-input {
  margin-bottom: 10px;
}
